<div class="container-fluid" style="margin-top: 1rem;">
  <div class="row">
    <div class="col-md-10 offset-md-11">
      <a routerLink='/report'>Report</a>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="row">
    <h2 style="margin-left: 1rem;">Items in sold</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="http://img2.imgtn.bdimg.com/it/u=3818001885,1026779079&fm=26&gp=0.jpg" alt="...">
      <a href="#" style="margin-left:50%;">like</a>
    </div>
    <div class="col-md-4">
      <img src="http://img2.imgtn.bdimg.com/it/u=3818001885,1026779079&fm=26&gp=0.jpg" alt="...">
      <a href="#" style="margin-left:50%;">like</a>
    </div>
    <div class="col-md-4">
      <img src="http://img2.imgtn.bdimg.com/it/u=3818001885,1026779079&fm=26&gp=0.jpg" alt="...">
      <a href="#" style="margin-left:50%;">like</a>
    </div>
  </div>


</div><!-- /.row -->
